body{
    background-color: #D6EAF8;
}
header{
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
    /* background-color: #BFC9CA; */
}
article h2{
    text-align: center;
    margin: 20px;
}
.img1{
    width: 300px;
    display: block;
    margin: 0 auto;
}
.col{
    padding: 10px;
    margin: 10px;
}
.card{
    border: 1px solid black !important;
    padding: 20px;
}
.navbar{
    border: 1px solid black;
    margin: 0 auto;
    width: fit-content;
    font-weight: bold;
}